/****** General ***********/
* {
    font-family: 'Raleway', sans-serif;
}

:root {
    --main-color: #0065FC;
    --main-bg-color: #F2F2F2;
    --filter-bg-color: #DEEBFF;
}

.fa-solid {
    color: var(--main-color);
}

body {
    display: flex;
    justify-content: center;
    margin: 0;
}

.main-container {
    width: 100%;
    max-width: 1440px;
    padding: 0 50px;
    box-sizing: border-box;
}

a {
    color: inherit;
    text-decoration: none;
}

.section-title {
    margin: 0;
    font-size: 22px;
}

.card {
    background-color: white;
    border-radius: 20px;
    padding: 5px;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
}

.card img {
    object-fit: cover;
}

.card-title {
    font-size: 16px;
}

.euro {
    font-weight: 700;
}

.neutral-star {
    color: var(--main-bg-color)
}

/****** Header ***********/

header {
    display: flex;
    justify-content: space-between;
    height: 3rem;
    margin-bottom: 30px;
    padding-top: 20px;
}

.logo {
    display: flex;
    align-items: center;
}

.logo img {
    height: 1.3rem;
    width: auto;
}

header nav {
    display: flex;
    align-items: flex-start;
}

header ul {
    display: flex;
    list-style-type: none;
    gap: 30px;
    padding: 0;
    margin: 0;
}

header a:hover {
    color: var(--main-color);
}

header a:hover::before {
    display: block;
    content: "";
    position: absolute;
    top: 0;
    height: 2px;
    background-color: var(--main-color);
}

header a[href="#hebergement"]:hover::before {
    width: 111.44px;
}

header a[href="#activite"]:hover::before {
    width: 62.563px;
}

/****** info-goup ***********/

.headline {
    display: flex;
    flex-direction: column;
    gap: 5px;
    margin-bottom: 20px;
}

.headline * {
    margin: 0;
}

#form-search  {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

#form-search #search-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 49px;
    width: 50px;
    background-color: rgba(0, 0, 0, 0.1);
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
}

#form-search #search-icon i {
    font-size: 18px;
    color: black;
}

#form-search input {
    height: 49px;
    border: none;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    font-weight: 700;
    padding: 0 15px;
    font-size: 16px;
    width: fit-content;
}

#form-search input:focus {
    outline: none;
    border-top: 1px solid var(--main-color);
    border-bottom: 1px solid var(--main-color);
}

#form-search input:hover {
    text-decoration: none;
}

#search-btn {
    height: 49px;
    background-color: var(--main-color);
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    border: none;
    color: white;
    font-size: 16px;
    font-weight: 700;
    padding: 0 15px;
}

#search-btn-mobile {
    display: none;
}

.filter {
    display: flex;
    align-items: center;
    gap: 15px;
    margin-bottom: 20px;
}

.filter-title .section-title {
    font-size: 18px;
    font-weight: 700;
}

.filter-list {
    display: flex;
    gap: 15px;
}

.filter-list button {
    display: flex;
    align-items: center;
    gap: 15px;
    padding: 15px;
    border: 3px solid var(--main-bg-color);
    border-radius: 25px;
    background-color: white;
    font-size: 17px;
    font-weight: 700;
}

.filter-list button:hover {
    background-color: var(--filter-bg-color);
}

.infobar {
    display: flex;
    align-items: center;
    gap: 15px;
    margin-bottom: 20px;
}

.infobar-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 2px;
    width: 2px;
    padding: 10px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 100%;
}

.infobar-icon i {
    font-size: 10px;
    color: var(--main-color);
}

.infobar p {
    margin: 0;
}

/****** Hebergements And Populaires ***********/
.hebergements-and-populaires {
    display: flex;
    justify-content: space-between;
}

.hebergements-and-populaires section {
    background-color: var(--main-bg-color);
    border-radius: 20px;
    padding: 30px;
    box-sizing: border-box;
}

/****** Hebergements ***********/
.hebergements {
    position: relative;
    width: 65%;
}

.hebergements-title {
    margin-bottom: 33px;
}

.hebergements-cards {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    row-gap: 30px;
}

.hebergements-cards a {
    width: 31%;
    text-decoration: none;
    color: black;
}

.hebergements-cards img {
    width: 100%;
    height: 100px;
    object-fit: cover;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.hebergements-cards .card-content {
    margin-left: 10px;
}

.hebergements-cards .card-txt * {
    margin: 0;
}

.hebergements-cards .card-title {
    margin-bottom: 10px;
}

.hebergements-cards .card-subtitle, .hebergements-cards .card-rating {
    margin-bottom: 5px;
}

.hebergement-moreabout {
    position: absolute;
    bottom: 30px;
}

.moreabout-btn {
    font-size: 22px;
    font-weight: 700;
    padding: 0;
    border: none;
    background-color: transparent;
}

/****** Populaires ***********/
.populaires {
    width: 32%;
}

.populaires-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 33px;
}

.populaires-cards {
    display: flex;
    flex-direction: column;
    gap: 33px;
}

.populaires-cards .card {
    display: flex;
}

.populaires-cards img {
    width: 33%;
    height: 136px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.populaires-cards .card-content {
    width: 67%;
    padding-left: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
}

.populaires-cards .card-title {
    margin-top: 10px;
    margin-bottom: 4px;
}

.populaires-cards .card-subtitle {
    margin: 0;
}

.populaires-cards .card-rating {
    margin-bottom: 5px;
}

/****** Activités ***********/

.activites {
    display: flex;
    flex-direction: column;
    border-radius: 20px;
    background-color: transparent;
    padding: 30px;
    margin: 20px 0;
}

.activites-title {
    margin-bottom: 33px;
}

.activites-cards {
    display: flex;
    justify-content: space-between;
}

.activites-cards a {
    display: flex;
    width: calc(100% / 4 - 20px);
    text-decoration: none;
    color: black;
}

.activites-cards .card {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    padding: 0;
}

.activites-cards img {
    width: 100%;
    height: 380px;
    object-fit: cover;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}
.activites-cards .card-content {
    display: flex;
    align-items: center;
    flex: 1;
    margin-left: 20px;
}

/****** Footer ***********/

footer {
    display: flex;
    background-color: var(--main-bg-color);
    padding: 20px;
}

.section-info {
    display: flex;
    flex-direction: column;
    gap: 10px;
    flex: 1;
}

.info-title {
    margin: 0;
}

.info-items {
    display: flex;
    flex-direction: column;
    gap: 10px;
    list-style-type: none;
    padding: 0;
    margin: 0;
}

/* Le code ci-dessous correspond à la version responsive uniquement */

/****** Media queries ***********/
/* Medium devices (tablets, less/equal than 1024px) */
@media (max-width: 1024px) {
    .filter {
        flex-direction: column;
        align-items: flex-start;
    }

    .hebergements-and-populaires {
        flex-direction: column;
    }

    .hebergements {
        width: 100%;
        height: 623px;
    }

    .populaires {
        width: 100%;
        margin-top: 50px;
    }

    .populaires-cards {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .populaires-cards a {
        width: 30%;
    }

    .populaires-cards .card-title {
        font-size: 14px;
    }

    .populaires-cards .card-subtitle {
        font-size: 13px;
    }
}

/* Small devices (phones, less than 768px) */
@media (max-width: 767.98px) {
    .main-container {
        padding: 0;
    }
    
    header {
        flex-direction: column;
        align-items: center;
    }
    
    header nav, header ul {
        width: 100%;
    }
    
    header nav {
        display: block;
    }
    
    header ul {
        gap: 0;
    }

    header li {
        width: 50%;
        text-align: center;
        padding-bottom: 20px;
        border-bottom: 2px solid var(--main-bg-color);
    }

    header li:hover {
        border-bottom: 2px solid var(--main-color);
        color: var(--main-color);
    }

    header a {
        width: 50%;
    }

    header a:hover::before {
        content: none;
    }

    .info-group {
        padding: 0 5%;
        margin-top: 20px;
    }

    #search {
        flex: 1;
    }

    #search-btn {
        display: none;
    }

    #search-btn-mobile {
        position: relative;
        left: -10px;
        display: block;
        height: 49px;
        width: 49px;
        background-color: var(--main-color);
        border: none;
        border-radius: 15px;
        box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    }

    #search-btn-mobile i {
        font-size: 18px;
        color: white;
    }

    .filter-list {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }

    .filter-bubble {
        width: 45%;
    }

    .hebergements-and-populaires {
        flex-direction: column-reverse;
    }

    .hebergements-and-populaires section {
        border-radius: 0;
    }

    .hebergements-and-populaires section:first-child {
        background-color: transparent;
    }

    .hebergements {
        height: fit-content;
    }

    .hebergement-moreabout {
        position: static;
        margin-top: 20px;
    }

    .populaires-cards, .hebergements-cards, .activites-cards {
        flex-direction: column;
    }

    .populaires-cards a, .hebergements-cards a,  .activites-cards a {
        width: 100%;
    }

    .activites-cards {
        row-gap: 20px;
    }

    .activites-cards img {
        height: 140px;
    }

    footer {
        flex-direction: column;
        row-gap: 40px;
    }
}